.danger {
    color: red;
}

[wrap]  { 
    flex-wrap: wrap;
}

[no-wrap]  { 
    flex-wrap: nowrap;
}

.container{
    display: flex;
}
.values{
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: flex;
}

.item {
    background: tomato;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

a.button{
    padding: 5px;
    align-self: center;
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #488aff;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#488aff;
    text-align:center;
    transition: all 0.15s;
    box-shadow: 2px 2px 2px 0px #488aff;
}
a.button:hover{
    cursor: pointer;
    color:#FFFFFF;
    border-color:#2876ff;
    box-shadow: 2px 2px 6px 0px #488aff;
}
@media all and (max-width:30em){
    a.button{
        display:block;
        margin:0.4em auto;
    }
}

.loader{
    opacity: 0.7;
    z-index:99;
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 100px;
    height: 100px;
  }
  .spinner .path {
    animation: rotate 2s linear infinite;
    stroke: #cccccc;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  @-webkit-keyframes bounceInUp {
    0% {
       opacity: 0;
       -webkit-transform: translateY(2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(-30px);
    }
    80% {
       -webkit-transform: translateY(10px);
    }
    100% {
       -webkit-transform: translateY(0);
    }
 }



 
 @keyframes bounceInRight {
    0% {
       opacity: 0;
       transform: translateX(2000px);
    }
    60% {
       opacity: 1;
       transform: translateX(-30px);
    }
    80% {
       transform: translateX(10px);
    }
    100% {
       transform: translateX(0);
    }
 } 

 .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 .bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
 }

 /* SVG spinner icon animation */
 /*
.spinner {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: #cccccc;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
*/  